{{> head }}

{{> navbar }}


<div class="container">
<div class="row"
>
<div class="col-8">
 <h1> HELLBOY</h1>

</div>

<div class="col-4">
	<img src="/assets/img/hellboy.jpg" class="img-thumbnail">
	
</div>
<div class="col-8">
 <h1> HELLBOY</h1>

	
</div>

<div class="col-4">
	<img src="/assets/img/hellboy.jpg" class="img-thumbnail">
	
</div>


</div>
</div>

{{> footer }}